.ModImage {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;

    /* Remove bottom inline spacing */
    display: block;

    &[hidden] {
        display: none !important;
    }
}
