html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}
