.Main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    flex: 1;
    gap: 32px;

    header {
        font-size: 42px;
        font-weight: bold;
        color: #333;
    }

    .buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;
        gap: 24px;
    }

    .infoText {
        display: block;
        font-size: 13px;
        color: #666;
    }
}
