.ModButton {
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 600;
    position: relative;

    /* FIXME: Temporary arbitrary values, waiting for Button Themes */
    transition: background-color .2s ease-in-out;
    gap: 6px;
}

.ModButton:hover {
    cursor: pointer;
}

/* Main Orientation */

.ModButton.mod--vertical {
    flex-direction: column;
}

.ModButton.mod--horizontal {
    flex-direction: row;
}

/* Main Axis Direction */

.ModButton.mod--horizontal.mod--end {
    flex-direction: row-reverse;
}

.ModButton.mod--vertical.mod--end {
    flex-direction: column-reverse;
}

/* Hide Empty Elements */
.ModButton>div:empty {
    display: none;
}

/* Image Specifications */

.ModButton>.ModButton-image {
    position: relative;
}

.ModButton>svg.ModButton-image {
    fill: currentColor;
}

/* Pending State */

.ModButton.mod--pending {
    pointer-events: none;
    /* FIXME: Temporary arbitrary values, waiting for Button Themes */
    opacity: 0.75;
}
