.ModPropertyField {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    border-style: solid;
    border-width: var(--visual-style-control-border-width);
    border-color: var(--visual-style-control-border-fill);
    border-radius: var(--visual-style-control-border-radius);
    font-size: var(--visual-style-text-size);
    color: var(--visual-style-text-fill);
}

.ModPropertyField-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ModPropertyField-error {
    color: var(--visual-style-text-error-fill);
}

.ModPropertyField-helpButton {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ModPropertyField-label {
    font-size: var(--visual-style-control-label-size);
    color: var(--visual-style-control-label-fill);
}


.ModPropertyField.ModPropertyField--inlineLabel {

    position: relative;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0px 6px;

    & .ModPropertyField-heading {
        flex: none;
        width: auto;
        align-self: flex-start;
    }

    & .controlWrapper {

        flex: 1;
        overflow: hidden;

        & > .ModPropertyField-control {
            border: none;
            background-color: inherit;
            background-image: inherit;
            outline: none;
            box-shadow: none;
            width: 100%;
        }

    }

    & .footing {
        box-sizing: border-box;
        position: absolute; 
        left: 6px;
        bottom: calc(-1rem - 4px);
        height: 1rem;
        width: 100%;
    }


}

