.ModNumberPropertyField {
    background: var(--visual-style-control-background-fill);

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    & .controlWrapper {

        & > input[type="number"].ModPropertyField-control{
            text-align: right;
        }

    }
}

