@import "../test.css";

.Main {
    background-color: lightgray;
}

/* @scope (.scoping-app.Main) {
    .inner {
        height: 45px;
        width: 45px;
        background-color: lightseagreen !important;
        border: 1px solid black;
    }
} */
