@import "../test.css";

.Main {
    background-color: lightgray;
}

@scope (.scoping-app.Main) {
    .inner {
        height: 45px;
        width: 45px;
        /* background-color: lightseagreen !important; */
        border: 1px solid black;
        padding: 40px;

        .test {
            border: 4px solid blue;
        }
    }
}

.CircleCSSContainer {
}
