@scope (.extra) {
    :scope {
        width: 20px;
        height: 20px;
        background-color: white;
        margin: auto;
    }
}

.Square {
    width: 100px;
    height: 100px;
    background-color: lightblue;
}
