.ModMultilineTextPropertyField {
    & .ModPropertyField.ModPropertyField--inlineLabel {
        flex-direction: column;
        align-items: stretch;
    }

    & .controlWrapper {

        & > textarea.ModPropertyField-control {
            padding: 0px;
            height: 8rem;
            resize: none;
            font-family: inherit;
        }

    }
}