.ModMultilineTextPropertyField {
    & .ModPropertyField.ModPropertyField--inlineLabel {
        flex-direction: column;
        align-items: stretch;

        & .ModPropertyField-heading {
            flex: none;
            max-width: 100%;
        }
    }



    & .controlWrapper {

        & > textarea.ModPropertyField-control {
            padding: 0px;
            height: 8rem;
            resize: none;
            font-family: inherit;
        }

        & > textarea.ModPropertyField-control::placeholder {
            color: var(--visual-style-control-placeholder-fill)
        }

    }
}