@scope (.Circle) {
    :scope {
        width: 100px;
        height: 100px;
        background-color: lightcoral;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@layer scoping-app {
    @scope (.Circle .inner) {
        :scope {
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 50%;
            margin: auto;
        }
    }
}
