@scope (.Circle) {
    :scope {
        width: 100px;
        height: 100px;
        background-color: lightcoral;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}

.secret {
    &::after {
        content: "Secret";
        position: absolute;
    }
}

@layer scoping-app {
    @scope (.Circle .inner) {
        :scope {
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 50%;
            margin: auto;
        }
    }
}

/* @layer scoping-app {
    .Circle {
        border: 2px dashed black;
    }
} */
