/* [data-mod-id="circle:examples/scoping-app/ui/circle.mod"] OR a ClassName + (suffix: examples/scoping-app/ui/circle.mod) -> goes container css */
/* [data-mod-id="circle
"] { */

/* COMPONENT */
/* TOGGLE HERE */
@layer circle {
    /* CSS CONTAINER */
    .module-id-circle {
        /* TOGGLE HERE */
        all: revert;

        * {
            all: revert;
        }

        /* + bug in chrome */

        .Circle {
            width: 100px;
            height: 100px;
            background-color: lightcoral;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        /* } */

        /* examples/scoping-app/ui/circle.mod */
        /* @scope and @layer are no blockers anymore */

        .inner {
            /* border-magic:  */
            width: 30px;
            height: 30px;
            display: block;
            background-color: white;
            border-radius: 50%;

            .test {
                width: 10px;
                height: 10px;
                /* display: block; */
                background-color: cyan;
                border-radius: 50%;
            }
        }
    }
}

/* @layer scoping-app {
    .Circle {
        border: 2px dashed black;
    }
} */
