
.mod-Slider {
    position: relative;
    touch-action: none;
    border-radius: var(--visual-style-control-border-radius);
    border-style: solid;
    border-width: var(--visual-style-control-border-width);
    border-color: var(--visual-style-control-border-color);
    min-height: 4px;
}

.mod-Slider[aria-orientation="horizontal"] .mod-Slider--track {
}
.mod-Slider[aria-orientation="vertical"] .mod-Slider--track {
}

.mod-Slider--spacer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}


.mod-Slider .mod-Slider--track {
    position: absolute;
    z-index:0;
    background-color: var(--visual-style-control-background-color);
    height: 100%;
}

.mod-Slider .mod-Slider--track[data-mod-index="1"] {
    background-color: var(--visual-style-control-secondary-background-color);
}

.mod-Slider .mod-Slider--track[data-mod-index="2"] {
    background-color: var(--visual-style-control-tertiary-background-color);
}

.mod-Slider .mod-Slider--track[data-mod-index="3"] {
    background-color: var(--visual-style-control-quaternary-background-color);
}

.mod-Slider .mod-Slider--thumbWrapper {
    position: absolute;
    z-index:1;
}

.mod-Slider--thumb {
    background-color: var(--visual-style-control-color);
    border-color: var(--visual-style-control-border-color);
    border-style: solid;
    border-width: var(--visual-style-control-border-width);
}

.mod-Slider--thumb[data-mod-index="1"] {
    background-color: var(--visual-style-control-secondary-color);
}

.mod-Slider--thumb[data-mod-index="2"] {
    background-color: var(--visual-style-control-tertiary-color);
}

.mod-Slider--thumb[data-mod-index="3"] {
    background-color: var(--visual-style-control-quaternary-color);
}



/* Create */

.mod-Slider-thumb--default {
    position: absolute;
    width:20px;
    height:20px;
    border-radius:20px;
}

.mod-Slider[aria-orientation="horizontal"] .mod-Slider-thumb--default {
    top:50%;
    transform: translate3d(0px, -50%, 0px);
}
.mod-Slider[aria-orientation="vertical"] .mod-Slider-thumb--default {
    left:50%;
    transform: translate3d(-50%, 0px, 0px);
}


.mod-Slider[aria-orientation="horizontal"] .mod-Slider--thumbWrapper {
    height:100%;
}
.mod-Slider[aria-orientation="vertical"] .mod-Slider--thumbWrapper {
    width:100%;
}


/*.mod-Slider > * {
    position: relative;
}*/
